@{
    ViewBag.Title = "Tracks and Invoices";
}

<main>
    <section class="row" aria-labelledby="title">
        <h1 id="title">Assignment 2 - Carmen Whitton</h1>
        <p class="lead">Tracks and Invoicing is an ASP.NET MVC application designed to access and view available tracks, as well as invoices relating to the sales of those tracks.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="ILearnedTitle">
            <h2 id="ILearnedTitle">I Learned ...</h2>
            <p>Over the course of the assignment I learned how to use associations in ASP.NET MVC. This includes how to create associations in design models, how to use populate the data in those associations in the Manager using automapper, how to design ViewModels around displaying that data, and how to access and display that data in .cshtml Views.</p>
        </section>
        <section class="col-md-4" aria-labelledby="IStruggledTitle">
            <h2 id="IStruggledTitle">I Struggled With ...</h2>
            <p>I struggled with bootstrap CSS more than anything. Getting the detail list tags to function as given in the example images was a pain because by default detail lists in bootstrap are left-aligned and not indented. Then when I looked up the example on the bootstrap documentation, it only had examples for individual pairings of dt and dd, which did not work similarly when we designed our layout around multiple dd tags per dt. In the end I had to insert empty divs with a class of col-sm-3 in front of each subsequent dd tag after the first for each dt in order to get the layout to look as requested.</p>
        </section>
    </div>
</main>